---
// Copyright (c) Pascal Brand
// MIT License

import 'swiper/css/bundle';
import type { AstroSwiperType } from '../index';

type Props = AstroSwiperType;

const {
  options = {},
  uniqueClass: uniqueClassDeprecated = null,    // remove it once deprecated uniqueClass prop is removed
  class: className = null,
  linkToThumbUniqueClass = null,
  addDefaultClass = true,
  ...props
} = Astro.props;

// check for deprecated useCustomElement prop and set the options.astro.useCustomElement
// option accordingly if not set, to keep legacy
if ((options?.astro?.useCustomElement === undefined) && (Astro.props.useCustomElement === false)) {
  if (!options.astro) {
    options.astro = {};
  }
  options.astro.useCustomElement = false;
}

// once uniqueClassDeprecated is removed, uniqueClass can be directly set to the generated unique class name
const uniqueClass = uniqueClassDeprecated || `astro-swiper-${Math.random().toString(36).slice(2, 11)}`;

---

<!-- Slider main container -->{
  (options?.astro?.useCustomElement !== false) ? (
    <astro-swiper
      data-options={JSON.stringify(options)}
      data-linktothumbuniqueclass={linkToThumbUniqueClass}
      data-uniqueclass={uniqueClass}
      class:list={[addDefaultClass ? 'swiper' : null, uniqueClass, className]}
      {...props}
    >
      <slot />
    </astro-swiper>
  ) : (
    <div class:list={[addDefaultClass ? 'swiper' : null, uniqueClass, className]} {...props}>
      <astro-swiper
        data-options={JSON.stringify(options)}
        data-linktothumbuniqueclass={linkToThumbUniqueClass}
        data-uniqueclass={uniqueClass}
      />
      <slot />
    </div>
  )
}

<script>
  import Swiper from 'swiper/bundle';
  import { getSwiperFromUniqueSelector } from 'astro-swiper';
  import type { AstroSwiperOptions } from 'astro-swiper';

  const getSwiperFromUniqueSelectorOptions = {
    // to avoid warning when the swiper is not initialized yet, but will be in the future
    // (for example when using thumbnails, the main swiper is created before the thumbnail
    // swiper, so it is normal that it is not found at this moment)
    mayBeUndefined: true,
  }

  /** contains the option used when creating the swiper object for each uniqueClass */
  const _useOptions: { [uniqueClass: string]: AstroSwiperOptions } = {};

  /** contains all the uniqueClass that have their swiper object delayed because the
   * related thumbnail swiper is not created yet
   * For each uniqueClass, is equal to the thumbnail slider uniqueClass
   */
  const _useDelaySwiper: { [uniqueClass: string]: string } = {};

  // Init swipers that have delayed initialization because the thumbnail swiper is not created yet
  // If this is now the case, then it is intialized, as well as its observer if needed
  function _initDelayedSwipers() {
    Object.keys(_useDelaySwiper).forEach((delayedClass) => {
      // swiper of uniqueClass "delayedClass" is delayed because it needs the swiper of uniqueClass
      // "delayedThumbClass" to be created first
      const delayedThumbClass = _useDelaySwiper[delayedClass];
      const swiper = getSwiperFromUniqueSelector(`.${delayedThumbClass}`, getSwiperFromUniqueSelectorOptions);
      if (swiper) {
        // the thumbnail swiper is created, we can create the swiper
        delete _useDelaySwiper[delayedClass]; // remove it from the delayed list
        const delayedOptions = _useOptions[delayedClass];
        delayedOptions.thumbs = {
          swiper: swiper, // add the thumbnail swiper link to the options
          ...delayedOptions.thumbs,
        };

        _createSwiperAndObserver(
          delayedClass,
          delayedOptions,
          document.querySelector(`.${delayedClass}`) as AstroSwiper,
        );
      }
    });
  }

  // initialize the swiper instance
  // the autoplay may be stopped manually if it should be started by the observer
  function _initSwiper(uniqueClass: string, options: AstroSwiperOptions, element: AstroSwiper) {
    const swiper = new Swiper(`.${uniqueClass}`, options);
    element.astroSwiper = swiper;

    // stop the autoplay if it will be started by the observer
    if (options.astro?.intersectionObserver?.controlAutoplay && options.autoplay) {
      swiper.autoplay.stop();
    }

    _initDelayedSwipers();
    return swiper;
  }

  function _createObserver(uniqueClass: string, options: AstroSwiperOptions, element: AstroSwiper) {
    const observerOptions = options.astro?.intersectionObserver || {};
    const observer = new IntersectionObserver((entries) => {
      if (entries[0].isIntersecting) {
        if (observerOptions?.initSwiper && !element.astroSwiper) {
          _initSwiper(uniqueClass, options, element);
          if (observerOptions?.disconnectOnInit) {
            observer.disconnect();
          }
        }
      }

      const swiper = element?.astroSwiper;
      if (!swiper) {
        return;
      }

      if (observerOptions?.controlAutoplay && options.autoplay) {
        if (entries[0].isIntersecting) {
          swiper.autoplay.start();
        } else {
          swiper.autoplay.stop();
        }
      }
    }, observerOptions.options);

    observer.observe(element);
    window.addEventListener('unload', observer.disconnect);
  }

  // create the swiper and the observer
  // - init the swiper if it should not be done by the observer
  // - create the observer if required
  function _createSwiperAndObserver(
    uniqueClass: string,
    options: AstroSwiperOptions,
    element: AstroSwiper,
  ) {
    if (!options.astro?.intersectionObserver?.initSwiper) {
      // create the swiper immediatly
      _initSwiper(uniqueClass, options, element);
    }

    // create the observer. It may init the swiper
    if (options.astro?.intersectionObserver) {
      _createObserver(uniqueClass, options, element);
    }
  }

  class AstroSwiper extends HTMLElement {
    /** pointer to the swiper structure that was created using "new",
     *  even when not initialized */
    astroSwiper: Swiper | undefined;

    constructor() {
      super();
      this.astroSwiper = undefined;

      // Read the message from the data attribute.
      const options: AstroSwiperOptions = JSON.parse(this.dataset.options || '{}');
      // to have more than 1 swiper in a single page
      const uniqueClass = this.dataset.uniqueclass || '';
      const linkToThumbUniqueClass = this.dataset.linktothumbuniqueclass || '';

      // no thumbnail link, or link to thumbnail swiper already created,
      // the swiper can be created or not immediatly depending on the observer option
      if (!linkToThumbUniqueClass || getSwiperFromUniqueSelector(`.${linkToThumbUniqueClass}`, getSwiperFromUniqueSelectorOptions)) {
        if (linkToThumbUniqueClass) {
          options.thumbs = { swiper: getSwiperFromUniqueSelector(`.${linkToThumbUniqueClass}`, getSwiperFromUniqueSelectorOptions), ...options.thumbs };
        }
        // create the swiper and the observer if needed
        _createSwiperAndObserver(uniqueClass, options, this);
      } else {
        // cannot create the swiper as the thumbnail swiper not created yet
        // is delayed until the thumbnail swiper is initialized.
        _useDelaySwiper[uniqueClass] = linkToThumbUniqueClass;
        _useOptions[uniqueClass] = options;
      }
    }
  }

  customElements.define('astro-swiper', AstroSwiper);
</script>
