---
// Copyright (c) Pascal Brand
// MIT License

import 'swiper/css/bundle';
import type { AstroSwiperType } from '../index';

type Props = AstroSwiperType;

const {
  options = {},
  uniqueClass: removedUniqueClass, // remove it once deprecated uniqueClass prop is removed
  class: className = null,
  linkToThumbUniqueClass: removedLinkToThumbUniqueClass, // remove it once deprecated uniqueClass prop is removed
  addDefaultClass = true,
  ...props
} = Astro.props;

// check for deprecated useCustomElement prop and set the options.astro.useCustomElement
// option accordingly if not set, to keep legacy
if (options?.astro?.useCustomElement === undefined && Astro.props.useCustomElement === false) {
  if (!options.astro) {
    options.astro = {};
  }
  options.astro.useCustomElement = false;
}

// once Astro.props.uniqueClass is removed, uniqueClass can be directly set to the generated unique class name
const uniqueClass =
  Astro.props.uniqueClass || `astro-swiper-${Math.random().toString(36).slice(2, 11)}`;

// check for deprecated useCustomElement prop and set the options.astro.useCustomElement
// option accordingly if not set, to keep legacy
if (options?.astro?.thumbSwiperUniqueSelector === undefined && Astro.props.linkToThumbUniqueClass) {
  if (!options.astro) {
    options.astro = {};
  }
  options.astro.thumbSwiperUniqueSelector = `.${Astro.props.linkToThumbUniqueClass}`;
}
---

<!-- Slider main container -->{
  options?.astro?.useCustomElement !== false ? (
    <astro-swiper
      data-options={JSON.stringify(options)}
      data-uniqueclass={uniqueClass}
      class:list={[addDefaultClass ? 'swiper' : null, uniqueClass, className]}
      {...props}
    >
      <slot />
    </astro-swiper>
  ) : (
    <div class:list={[addDefaultClass ? 'swiper' : null, uniqueClass, className]} {...props}>
      <astro-swiper data-options={JSON.stringify(options)} data-uniqueclass={uniqueClass} />
      <slot />
    </div>
  )
}

<script>
  import Swiper from 'swiper/bundle';
  import { getSwiperFromUniqueSelector } from '../index';
  import type { AstroSwiperOptions, selectorStringType } from '../index';

  const getSwiperFromUniqueSelectorOptions = {
    // to avoid warning when the swiper is not initialized yet, but will be in the future
    // (for example when using thumbnails, the main swiper is created before the thumbnail
    // swiper, so it is normal that it is not found at this moment)
    mayBeUndefined: true,
  };

  /** contains the option used when creating the swiper object for each uniqueSelector */
  const _useOptions: { [uniqueSelector: string]: AstroSwiperOptions } = {};

  /** contains all the uniqueSelector that have their swiper object delayed because the
   * related thumbnail swiper is not created yet
   * For each uniqueSelector, is equal to the thumbnail slider uniqueSelector
   */
  const _useDelaySwiper: { [uniqueSelector: string]: string } = {};

  // Init swipers that have delayed initialization because the thumbnail swiper is not created yet
  // If this is now the case, then it is intialized, as well as its observer if needed
  function _initDelayedSwipers() {
    Object.keys(_useDelaySwiper).forEach((delayedSelector) => {
      // swiper of uniqueSelector "delayedSelector" is delayed because it needs the swiper of uniqueSelector
      // "delayedThumbSelector" to be created first
      const delayedThumbSelector = _useDelaySwiper[delayedSelector];
      const swiper = getSwiperFromUniqueSelector(
        delayedThumbSelector,
        getSwiperFromUniqueSelectorOptions,
      );
      if (swiper) {
        // the thumbnail swiper is created, we can create the swiper
        delete _useDelaySwiper[delayedSelector]; // remove it from the delayed list
        const delayedOptions = _useOptions[delayedSelector];
        delayedOptions.thumbs = {
          swiper: swiper, // add the thumbnail swiper link to the options
          ...delayedOptions.thumbs,
        };

        _createSwiperAndObserver(
          delayedSelector,
          delayedOptions,
          document.querySelector(delayedSelector) as AstroSwiper,
        );
      }
    });
  }

  // initialize the swiper instance
  // the autoplay may be stopped manually if it should be started by the observer
  function _initSwiper(
    uniqueSelector: selectorStringType,
    options: AstroSwiperOptions,
    element: AstroSwiper,
  ) {
    const swiper = new Swiper(uniqueSelector, options);
    element.astroSwiper = swiper;

    // stop the autoplay if it will be started by the observer
    if (options.astro?.intersectionObserver?.controlAutoplay && options.autoplay) {
      swiper.autoplay.stop();
    }

    _initDelayedSwipers();
    return swiper;
  }

  function _createObserver(
    uniqueSelector: selectorStringType,
    options: AstroSwiperOptions,
    element: AstroSwiper,
  ) {
    const observerOptions = options.astro?.intersectionObserver || {};
    const observer = new IntersectionObserver((entries) => {
      if (entries[0].isIntersecting) {
        if (observerOptions?.initSwiper && !element.astroSwiper) {
          _initSwiper(uniqueSelector, options, element);
          if (observerOptions?.disconnectOnInit) {
            observer.disconnect();
          }
        }
      }

      const swiper = element?.astroSwiper;
      if (!swiper) {
        return;
      }

      if (observerOptions?.controlAutoplay && options.autoplay) {
        if (entries[0].isIntersecting) {
          swiper.autoplay.start();
        } else {
          swiper.autoplay.stop();
        }
      }
    }, observerOptions.options);

    observer.observe(element);
    window.addEventListener('unload', observer.disconnect);
  }

  // create the swiper and the observer
  // - init the swiper if it should not be done by the observer
  // - create the observer if required
  function _createSwiperAndObserver(
    uniqueSelector: selectorStringType,
    options: AstroSwiperOptions,
    element: AstroSwiper,
  ) {
    if (!options.astro?.intersectionObserver?.initSwiper) {
      // create the swiper immediatly
      _initSwiper(uniqueSelector, options, element);
    }

    // create the observer. It may init the swiper
    if (options.astro?.intersectionObserver) {
      _createObserver(uniqueSelector, options, element);
    }
  }

  class AstroSwiper extends HTMLElement {
    /** pointer to the swiper structure that was created using "new",
     *  even when not initialized */
    astroSwiper: Swiper | undefined;

    constructor() {
      super();
      this.astroSwiper = undefined;

      // Read the message from the data attribute.
      const options: AstroSwiperOptions = JSON.parse(this.dataset.options || '{}');
      // to have more than 1 swiper in a single page
      const uniqueSelector: selectorStringType = `.${this.dataset.uniqueclass}`;
      const thumbSwiperUniqueSelector = options.astro?.thumbSwiperUniqueSelector;

      // no thumbnail link, or link to thumbnail swiper already created,
      // the swiper can be created or not immediatly depending on the observer option
      if (
        !thumbSwiperUniqueSelector ||
        getSwiperFromUniqueSelector(thumbSwiperUniqueSelector, getSwiperFromUniqueSelectorOptions)
      ) {
        if (thumbSwiperUniqueSelector) {
          options.thumbs = {
            swiper: getSwiperFromUniqueSelector(
              thumbSwiperUniqueSelector,
              getSwiperFromUniqueSelectorOptions,
            ),
            ...options.thumbs,
          };
        }
        // create the swiper and the observer if needed
        _createSwiperAndObserver(uniqueSelector, options, this);
      } else {
        // cannot create the swiper as the thumbnail swiper not created yet
        // is delayed until the thumbnail swiper is initialized.
        _useDelaySwiper[uniqueSelector] = thumbSwiperUniqueSelector;
        _useOptions[uniqueSelector] = options;
      }
    }
  }

  customElements.define('astro-swiper', AstroSwiper);
</script>
